<div class="container">
  <h1>CRUD - Games</h1>

  <a href="#" routerLink="/game/create/" type="button" class="btn btn-success">Criar Jogo</a>
  <br>
  <br>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Desenvolvedora</th>
      <th>Paltaforma</th>
      <th width="260px">Ação</th>
    </tr>
    <tr *ngFor="let game of games">
      <td>{{ game.id }}</td>
      <td>{{ game.namej }}</td>
      <td>{{ game.desenvolvedora }}</td>
      <td>{{ game.plataformas }}</td>
      <a href="#" [routerLink]="['/game/', game.id, 'view']" type="button" class="btn btn-info">Visualizar</a> &nbsp;
      <a href="#" [routerLink]="['/game/', game.id, 'edit']" type="button" class="btn btn-primary">Editar</a> &nbsp;
      <button type="button" (click)="deleteGame(game.id)" type="button" class="btn btn-danger">Deletar</button>
    </tr>
  </table>
</div>
