<div class="container">
  <h1>CRUD - Games</h1>

  <a href="#" routerLink="/game/create/" class="btn btn-success">Criar Jogo</a>
  <br>
  <br>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descrição</th>
      <th width="220px">Ação</th>
    </tr>
    <tr *ngFor="let game of games">
      <td>{{ game.id }}</td>
      <td>{{ game.title }}</td>
      <td>{{ game.description }}</td>
      <td>
        <a href="#" [routerLink]="['/game/', game.id, 'view']" class="btn btn-info">Visualizar</a>
        <a href="#" [routerLink]="['/game/', game.id, 'edit']" class="btn btn-primary">Editar</a>
        <button type="button" (click)="deleteGame(game.id)" class="btn btn-danger">Deletar</button>
      </td>
    </tr>
  </table>
</div>
