<div class="container">
  <h1>Visualizar game</h1>

  <a href="#" routerLink="/game/index" class="btn btn-primary">Voltar</a>

  <div>
    <strong>ID:</strong>
    <p>{{ game.id }}</p>
  </div>

  <div>
    <strong>Título:</strong>
    <p>{{ game.namej }}</p>
  </div>

  <div>
    <strong>Plataformas:</strong>
    <p>{{ game.plataformas }}</p>
  </div>

  <div>
    <strong>Descrição:</strong>
    <p>{{ game.descricao }}</p>
  </div>

  <div>
    <strong>Lançamento:</strong>
    <p>{{ game.lancamento }}</p>
  </div>

  <div>
    <strong>Modo:</strong>
    <p>{{ game.modo }}</p>
  </div>

  <div>
    <strong>Nota:</strong>
    <p>{{ game.nota }}</p>
  </div>

</div>
