<div class="container">
  <h1>Criar novo jogo</h1>

  <a href="#" routerLink="/game/index" class="btn btn-primary">Voltar</a>

  <br>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <br>

    <div class="form-group">
      <label for="namej">Título:</label>
      <input formControlName="namej" id="namej" type="text" class="form-control">
      <div *ngIf="f['namej'].touched && f['namej'].invalid" class="alert alert-danger">
        <div *ngIf="f['namej'].errors && f['namej'].errors['required']">Título é obrigatório.</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="plataformas">Plataformas</label>
      <input formControlName="plataformas" id="plataformas" type="text" class="form-control">
      <div *ngIf="f['plataformas'].touched && f['plataformas'].invalid" class="alert alert-danger">
        <div *ngIf="f['plataformas'].errors && f['plataformas'].errors['required']">descricao é obrigatória.</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input formControlName="descricao" id="descricao" type="text" class="form-control">
      <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
        <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">Descrição é obrigatória.</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="lancamento">Lançamento</label>
      <input formControlName="lancamento" id="lancamento" type="text" class="form-control">
      <div *ngIf="f['lancamento'].touched && f['lancamento'].invalid" class="alert alert-danger">
        <div *ngIf="f['lancamento'].errors && f['lancamento'].errors['required']">Lançamento é obrigatório.</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="modo">Modo</label>
      <input formControlName="modo" id="modo" type="text" class="form-control">
      <div *ngIf="f['modo'].touched && f['modo'].invalid" class="alert alert-danger">
        <div *ngIf="f['modo'].errors && f['modo'].errors['required']">Modo é obrigatório.</div>
      </div>
    </div>

    <br>

    <div class="form-group">
      <label for="nota">Nota</label>
      <input formControlName="nota" id="nota" type="text" class="form-control">
      <div *ngIf="f['nota'].touched && f['nota'].invalid" class="alert alert-danger">
        <div *ngIf="f['nota'].errors && f['nota'].errors['required']">Nota é obrigatória.</div>
      </div>
    </div>

    <br>

    <br>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Enviar</button>
  </form>
</div>
